.admin-layout {
  display: flex;
  min-height: 100vh;
}

.admin-main {
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s;
  background-color: var(--san-neutral-10);
}

.admin-layout.sidebar-collapsed .admin-main {
  margin-left: 70px;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--san-white);
  box-shadow: var(--san-elevation-01);
  position: sticky;
  top: 0;
  z-index: 100;
}

.toggle-btn {
  font-size: 24px;
  color: var(--san-dark-grey);
  padding: 5px 10px;
}

.admin-content {
  min-height: calc(100vh - 60px);
}

@media (max-width: 768px) {
  .admin-main {
    margin-left: 0;
  }
  
  .admin-layout.sidebar-collapsed .admin-main {
    margin-left: 0;
  }
}
