.product-reviews {
  padding: 10px 0;
}

.review-form {
  background-color: var(--san-neutral-10);
}

.review-item {
  transition: box-shadow 0.3s;
}

.review-item:hover {
  box-shadow: var(--san-elevation-02);
}

.review-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.review-comment {
  color: var(--san-neutral-90);
  line-height: 1.6;
  margin-bottom: 15px;
}

.review-footer {
  padding-top: 10px;
  border-top: 1px solid var(--san-neutral-20);
}
